
   /* styles.css */

/* Style for the header */
.header {
    background-color: #326db1;
    color: #fff;
    padding: 2px;
    text-align: center;
}

/* Style for the main container */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid #ccc; */
}

/* Style for the town container */
.town {
    padding: 1px;
    margin: 1px;
    text-align:center;
}

/* Style for the town name */
.town h2 {
    margin-bottom: 2px;
}

/* Style for the weather graph */
.graph {
    width: auto;
    height: auto;
    background-color: #bddee9;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#widgetSpot{
    background-color: #bddee9;
    align-items: center;
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    height: auto; /* Adjust the width as needed */
    width: auto; /* Adjust the width as needed */
    margin: 2px;
}